<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="distribution" content="global" />
    <meta name="robots" content="follow, all" />
    <meta name="language" content="en, sv" />

    <title>Geni Developers - {{ page.title }}</title>

    <link rel="icon" href="http://assets1.geni.com/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="http://assets1.geni.com/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection, print" />

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-743668-5']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
    </script>
  </head>

  <body>
    <div class="page_hd hd">
      <div class="fluid">
        <div class="flt_r mod"></div>
        <div class="mod">
          <a href="/"><img src="/images/geni_eng_logo.gif" border="0"/></a>
        </div>
      </div>
    </div>

    <div class="page_bd">
      <div class="fluid">
        <br>

        <!-- begin sidebar -->
        <div class="right_col2">
          <div class="mod xlengthy basic">
            <div class="basic_hd">
              <h4>Recent Posts</h4>
            </div>
            <div class="basic_bd">
              <ul class="post_list">
                {% for post in site.posts limit:3 %}
                  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="mod basic">
            <iframe
              src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fgenidotcom&amp;width=260&amp;connections=8&amp;stream=false&amp;header=false&amp;height:270;" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100%;height:270px;padding-top:10px;" allowTransparency="false"></iframe>
          </div>
        </div>

        <!-- begin main column -->
        <div class="main_col">
          {{ content }}
        </div>
      </div>
    </div>

   <div class="page_ft ft">
     <div class="fluid">
       <div class="mod">
         <div class="flt_r">&copy; Copyright Geni, Inc.</div>
         <ul class="h_list">
           <li>
           <a href="http://www.geni.com/company/about_us?ref=gb">About</a></li>
           <li><a href="http://www.geni.com/popular?ref=gb">Celebrities</a></li>
           <li><a href="http://www.geni.com/directory/people/a.html?ref=gb">Directory</a></li>
           <li><a href="http://www.geni.com/gedcom?ref=gb">GEDCOM</a></li>
           <li><a href="http://www.geni.com/company/terms_of_use?ref=gb">Terms</a></li>
           <li><a href="http://www.geni.com/company/privacy?ref=gb">Privacy</a></li>
           <li><a href="http://help.geni.com/?ref=gb">Help</a></li>
         </ul>
       </div>
     </div>
   </div>
 </body>
</html> 
